<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>How much of a strainer is your website ? | Strainr</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700|Fira+Sans:600" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="shortcut icon" href="../../static/assets/favicon.ico" />
    <link rel="manifest" href="../../static/assets/site.webmanifest">
	   <script src="https://unpkg.com/animejs@2.2.0/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap">
     <header class="site-header">
         <div class="container">
             <div class="site-header-inner">
                 <div class="brand header-brand">
                     <h1 class="m-0">
                         <a href="#">
                          <img
                           src="../../static/assets/logo-d.svg"
                           alt="strainer"
                           height="150px"
                           width="150px" />
                         </a>

                     </h1>
                 </div>
             </div>
         </div>
     </header>
     <main>
      <section class="hero" style="height:100vh;">
       <div class="container">
           <div class="hero-inner">
						<div class="hero-copy">
       <h1 class="hero-title mt-0">How much of a <span class="text-primary">strainer</span> is your website ?</h1>
       <p class="hero-paragraph">Check your website security</p>
							<form action="/" method="POST" class="hero-form field field-grouped">
								<div class="control control-expanded">
									<input class="input" type="url" name="url" placeholder="https://example.com">
								</div>
								<div class="control">
									<button type="submit" class="button button-primary button-block">Check</button>
								</div>
							</form>
						</div>
						<div>
							<div class="hero-main-shape">
        <img
         src="../../static/assets/strainer-l.svg"
         alt="strainer"
         height="1200px"
         width="1200px" />
							</div>
               </div>

           </div>
       </div>
   </section>

			<section class="newsletter section text-light">
                <div class="container-sm">
                    <div class="newsletter-inner section-inner">
                        <div class="newsletter-header text-center">
                            <h2 class="section-title mt-0">Star the project on Github !</h2>
                            <p class="section-paragraph">Strainr is an open source project. Contribute and help us to improve your website security.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner has-top-divider">
                    <div class="brand footer-brand">
                        <a href="#">
                         <img
                          src="../../static/assets/logo-w.svg"
                          alt="strainer"
                          height="150px"
                          width="150px" />
                        </a>
                    </div>
                    <ul class="footer-social-links list-reset">
                        <li>
                            <a href="https://github.com/clement-avenel/strainr">
                                <span class="screen-reader-text">Github</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" fill="#FFF"/></svg>
                            </a>
                        </li>
                    </ul>
                    <div class="footer-copyright">&copy; 2021 Strainr, all rights reserved</div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
