<footer class="footer footer-transparent d-print-none">
  <div class="container">
    <div class="row text-center align-items-center flex-row-reverse">
      <div class="col-lg-auto ml-lg-auto">
        <ul class="list-inline list-inline-dots mb-0">
          <li class="list-inline-item"><a href="/Documentation" class="link-secondary">Documentation</a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-auto mt-3 mt-lg-0">
        <ul class="list-inline list-inline-dots mb-0">
          <li class="list-inline-item">
            Copyright © 2020
            <a href="/" class="link-secondary">Strainr</a>.
            All rights reserved.
          </li>
          <li class="list-inline-item">
            v1.0.0
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
