<header class="navbar navbar-expand-md navbar-light d-print-none">
 <div class="container-xl">
   <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pr-0 pr-md-3">
     <a class="navbar-brand" href="/">
      <img
       src="../../static/assets/logo-d.svg"
       alt="strainer"
       width="100px" />
     </a>
   </h1>
 </div>
</header>
